DummyApp/x64/Release/DummyApp.tlog/link.write.1.tlog
DummyApp/DummyApp.vcxproj.user
x64/Release/DummyApp.pdb
/DummyApp/x64/Release/DummyApp.exe.recipe
/DummyApp/x64/Release/DummyApp.iobj
/DummyApp/x64/Release/DummyApp.ipdb
/DummyApp/x64/Release/DummyApp.log
/DummyApp/x64/Release/DummyApp.obj
/DummyApp/x64/Release/DummyApp.tlog/CL.command.1.tlog
/DummyApp/x64/Release/DummyApp.tlog/CL.read.1.tlog
/DummyApp/x64/Release/DummyApp.tlog/CL.write.1.tlog
/DummyApp/x64/Release/DummyApp.tlog/DummyApp.lastbuildstate
/DummyApp/x64/Release/DummyApp.tlog/link.command.1.tlog
/DummyApp/x64/Release/DummyApp.tlog/link.read.1.tlog
/DummyApp/x64/Release/vc142.pdb
