DummyApp/x64/Release/DummyApp.tlog/link.write.1.tlog
DummyApp/DummyApp.vcxproj.user
x64/Release/DummyApp.pdb
/DummyApp/x64/Release/DummyApp.exe.recipe
/DummyApp/x64/Release/DummyApp.iobj
/DummyApp/x64/Release/DummyApp.ipdb
/DummyApp/x64/Release/DummyApp.log
/DummyApp/x64/Release/DummyApp.obj
/DummyApp/x64/Release/DummyApp.tlog/CL.command.1.tlog
/DummyApp/x64/Release/DummyApp.tlog/CL.read.1.tlog
/DummyApp/x64/Release/DummyApp.tlog/CL.write.1.tlog
/DummyApp/x64/Release/DummyApp.tlog/DummyApp.lastbuildstate
/DummyApp/x64/Release/DummyApp.tlog/link.command.1.tlog
/DummyApp/x64/Release/DummyApp.tlog/link.read.1.tlog
/DummyApp/x64/Release/vc142.pdb
/.vs/DummyApp/v16/.suo
/.vs/DummyApp/v16/Browse.VC.db
/.vs/DummyApp/v16/ipch/AutoPCH/2455f85ca78f7e69/DUMMYAPP.ipch
/.vs/DummyApp/v16/ipch/AutoPCH/d543ed82ffe9a46f/DUMMYAPP.ipch
/DummyApp/x64/Debug/DummyApp.exe.recipe
/DummyApp/x64/Debug/DummyApp.ilk
/DummyApp/x64/Debug/DummyApp.log
/DummyApp/x64/Debug/DummyApp.obj
/DummyApp/x64/Debug/DummyApp.tlog/CL.command.1.tlog
/DummyApp/x64/Debug/DummyApp.tlog/CL.read.1.tlog
/DummyApp/x64/Debug/DummyApp.tlog/CL.write.1.tlog
/DummyApp/x64/Debug/DummyApp.tlog/DummyApp.lastbuildstate
/DummyApp/x64/Debug/DummyApp.tlog/link.command.1.tlog
/DummyApp/x64/Debug/DummyApp.tlog/link.read.1.tlog
/DummyApp/x64/Debug/DummyApp.tlog/link.write.1.tlog
/DummyApp/x64/Debug/vc142.idb
/DummyApp/x64/Debug/vc142.pdb
/x64/Debug/DummyApp.pdb
x64/Debug/DummyApp.exe
